{% include top.html %}
      <header>

        <h1 class="title"><a href="/index.html">Design Automation Lab</a></h1>

        <p><i>
          A research lab developing method and tools for supporting design decision making.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="/index.html">Overview</a></h1>
          <h1 class="nav"><a href="/people.html">People</a></h1>
          <h1 class="nav"><a href="/research.html">Research</a></h1>
          <h1 class="nav"><a href="/contact.html">Contact</a></h1>
        </div>
        <p><i>Software tools:</i></p>
        <div class="nav-wrapper">
          <h2 class="nav"><a href="/software/mobius/index.html">Möbius</a></h2>
          <h2 class="nav"><a href="/software/pim/index.html">PIM</a></h2>
          <h2 class="nav"><a href="/software/studionet/index.html">Studionet</a></h2>
          <h2 class="nav"><a href="/software/dexen/index.html">Dexen</a></h2>
          <h2 class="nav"><a href="/software/eddex/index.html">Eddex</a></h2>
          <h2 class="nav"><a href="/software/houdarcs/index.html">Houdarcs</a></h2>
          <h2 class="nav"><a href="/software/desking/index.html">Desking</a></h2>
        </div>

      </header>
{% include bottom.html %}
