{% include top.html %}
      <header>

        <h1 class="title"><a href="/index.html">Design Automation Lab</a></h1>

        <p><i>
          A research lab developing methods and tools for supporting design decision making.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="/index.html">Overview</a></h1>
          <h1 class="nav"><a href="/pages/people.html">People</a></h1>
          <h1 class="nav"><a href="/pages/research.html">Research</a></h1>
          <h1 class="nav"><a href="/pages/software.html">Software</a></h1>
          <h1 class="nav"><a href="/pages/contact.html">Contact</a></h1>
        </div>

      </header>
{% include bottom.html %}
