{% include top.html %}
      <header>

        <h1 class="parent"><a href="/index.html">Design Automation Lab</a></h1>
        <h1 class="title"><a href="index.html">Dexen</a></h1>

        <p><i>
          An execution environment for running computationally demanding jobs on distributed computing resources.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="index.html">Overview</a></h1>
          <h1 class="nav"><a href="install.html">Getting Started</a></h1>
          <h1 class="nav"><a href="examples.html">Examples</a></h1>
          <h1 class="nav"><a href="links.html">Links</a></h1>
        </div>

      </header>
{% include bottom.html %}
