{% include top.html %}
      <header>

        <h1 class="parent"><a href="/index.html">Design Automation Lab</a></h1>
        <h1 class="title"><a href="index.html">Möbius Modeller</a></h1>

        <p><i>
          End-user visual programming in the browser for automating complex tasks.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="index.html">Overview</a></h1>
          <h1 class="nav"><a href="mobius_geospatial.html">Möbius Geospatial</a></h1>
          <h1 class="nav"><a href="mobius_parametric.html">Möbius Parametric</a></h1>
          <h1 class="nav"><a href="mobius_prototype.html">Möbius Prototype</a></h1>
        </div>

      </header>
{% include bottom.html %}
