{% include top.html %}
      <header>

        <h1 class="parent"><a href="/index.html">Design Automation Lab</a></h1>
        <h1 class="title"><a href="index.html">Parametric Information Modelling</a></h1>

        <p><i>
          A set Parametric Information Modelling (PIM) resources, written in TypeScript.
        </i></p>

        <div class="nav-wrapper">
          <h1 class="nav"><a href="index.html">Overview</a></h1>
          <h1 class="nav"><a href="theory.html">Theory</a></h1>
          <h1 class="nav"><a href="examples.html">Examples</a></h1>
          <h1 class="nav"><a href="links.html">Links</a></h1>
        </div>

      </header>
{% include bottom.html %}
